<!-- templates/home.html -->
{% extends "_base/_base.html" %}
{% block extra_head %}
<meta name="title" content="Planet Mavis - Your One-Stop Shop for Quality Products">
<meta name="keywords" content="Planet Mavis, online store, quality products, shopping, electronics, fashion, home goods, coffee, accessories, organic tea">
<meta name="description"
    content="Welcome to Planet Mavis. Discover quality products for every need. We're committed to bringing you the best in fashion, electronics, home goods, and more.">
    <meta name="author" content="Md. Asfakul Kabir, Najmus Sakib">
<meta property="og:url" content="https://planetmavis.com/">
<meta property="og:title" content="Planet Mavis">
<meta property="og:description" content="Planet Mavis: Discover quality products for every need. We're committed to bringing you the best in fashion, electronics, home goods, and more.">
    <meta property="og:image" content="https://planetmavis.com/static/icons/main_logo.webp">
{% endblock %}

{% block content %}

<!-- Featured Categories -->
<section class="py-4 hidden xl:block bg-white dark:bg-gray-900">
  <div class="mx-auto px-4">
    <div class="flex flex-row justify-center items-center gap-3 lg:gap-6 2xl:gap-12">
      {% for category in categories %}
      <a href="{% url 'website:category_detail' full_slug=category.get_full_slug %}"
        class="block text-center" x-data="{ loaded: false }" >
        {% if category.image %}
        <img src="{{ category.image.url }}" alt="{{ category.name }}" class="w-20 h-20 object-cover rounded-lg mb-2" loading="lazy" @load="loaded = true" x-bind:class="{ 'opacity-0': !loaded, 'opacity-100': loaded }">
          <div x-show="!loaded" class="absolute inset-0 bg-gray-200 animate-pulse rounded-lg"></div>
        {% else %}
        <img src="/static/icons/default-image.webp" alt="Default category" class="w-20 h-20 object-cover rounded-lg mb-2">
        {% endif %}
        <h3 class="text-xs font-light text-gray-900 dark:text-gray-100">{{ category.name }}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
 <!-- category slider mobile  -->
 <section class="py-4 block xl:hidden bg-white dark:bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="swiper categorySwiper">
      <div class="swiper-wrapper">
        {% for category in categories %}
        <div class="swiper-slide text-center">
          <a href="{% url 'website:category_detail' full_slug=category.get_full_slug %}">
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}"
              class="w-20 h-20 object-cover rounded-lg mb-2 mx-auto">
            {% else %}
            <img src="/static/icons/default-image.webp" alt="Default category"
              class="w-20 h-20 object-cover rounded-lg mb-2 mx-auto bg-gray-200 dark:bg-gray-700">
            {% endif %}
            <h3 class="text-xs font-light text-gray-900 dark:text-gray-100">{{ category.name }}</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Popular Products -->
<div>
  <div class="mx-auto p-4 sm:px-6 sm:pb-10 lg:px-8">
    <h2 class="text-lg font-semibold tracking-tight text-lime-700 dark:text-lime-400 text-center">Top-selling Items</h2>

<!-- product Swiper Container -->
<div class="relative">
  <!-- Controls Positioned Top-Right -->
<div class="absolute -top-10 right-0 z-10 flex gap-2 p-2">
  <div class="swiper-button-prev !static !text-black !w-6 !h-6 hover:text-white transition"></div>
  <div class="swiper-button-next !static !text-black !w-6 !h-6 hover:text-white transition"></div>
</div>


  <!-- Swiper Container -->
  <div class="swiper productSwiper mt-6">
    <div class="swiper-wrapper">
      {% for product in popular_products %}
      <div class="swiper-slide bg-slate-50 dark:bg-gray-900">
  <a href="{% url 'website:product_detail' product.slug %}">
    <div class="group relative p-2 lg:p-4 xl:p-5 border border-slate-400 dark:border-slate-700 bg-white dark:bg-gray-800 hover:border-slate-800 dark:hover:border-slate-600 rounded-md md:rounded-lg">
      {% if product.images.first %}
      <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}"
        class="aspect-square w-full bg-gray-200 dark:bg-gray-700 object-cover object-top group-hover:opacity-75 lg:aspect-auto lg:h-80" />
      {% else %}
      <img src="/static/icons/default-image.webp" alt="{{ product.name }}"
        class="aspect-square w-full bg-gray-200 dark:bg-gray-700 object-cover object-center group-hover:opacity-75 lg:aspect-auto lg:h-80" />
      {% endif %}

      <div class="mt-1 flex justify-between">
        <div>
          <p class="mt-1 md:text-xs lg:text-sm text-gray-500 dark:text-gray-400 hidden md:block">
            {% for category in product.categories.all %}
            {{ category.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}No category{% endfor %}
          </p>
          <h3 class="text-sm text-gray-900 dark:text-gray-100 truncate w-40 md:w-56 lg:w-64">
            {{ product.name }}
          </h3>
        </div>
      </div>

      <div class="flex items-center space-x-2">
        {% if product.sale_price %}
        <p class="text-black dark:text-white font-bold text-sm lg:text-base">
          ৳{{ product.sale_price|floatformat:"0" }}
        </p>
        <p class="line-through text-gray-400 dark:text-gray-300 text-xs lg:text-sm">
          ৳{{ product.regular_price|floatformat:"0" }}
        </p>
        {% else %}
        <p class="text-black dark:text-white font-bold text-sm lg:text-base">
          ৳{{ product.regular_price|floatformat:"0" }}
        </p>
        {% endif %}
      </div>
    </div>
  </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  </div>
</div>


<!-- All products  -->
<section class="p-4 sm:px-6 sm:pb-10 lg:px-8 mx-auto bg-yellow-50/50 dark:bg-zinc-900">
      <h2 class="text-lg font-semibold tracking-tight text-lime-700 dark:text-lime-400 text-center pb-5">All Latest Products</h2>
  <div id="product-grid" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    <template id="skeleton-template">
      <div class="animate-pulse group relative p-2 lg:p-4 xl:p-5 border border-slate-400 dark:border-slate-700 bg-white dark:bg-gray-800 rounded-md md:rounded-lg">
        <div class="aspect-square w-full bg-gray-200 dark:bg-gray-700 lg:h-80 rounded-sm"></div>
        <div class="mt-1 flex justify-between">
          <div>
            <div class="mt-2 h-3 bg-gray-200 dark:bg-gray-700 rounded w-24 hidden md:block"></div>
            <div class="mt-2 h-4 bg-gray-200 dark:bg-gray-700 rounded w-32 md:w-40"></div>
          </div>
        </div>
        <div class="flex items-center space-x-2 mt-2">
          <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded w-16"></div>
          <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded w-12"></div>
        </div>
      </div>
    </template>
    
    {% for product in all_products %}
      <a href="{% url 'website:product_detail' product.slug %}">
        <div class="group relative p-2 lg:p-4 xl:p-5 border border-slate-400 dark:border-slate-700 bg-white dark:bg-gray-800 hover:border-slate-800 dark:hover:border-slate-600 rounded-md md:rounded-lg">
          {% if product.images.first %}
          <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}"
            class="aspect-square w-full bg-gray-200 dark:bg-gray-700 object-cover object-top group-hover:opacity-75 lg:aspect-auto lg:h-80" />
          {% else %}
          <img src="/static/icons/default-image.webp" alt="{{ product.name }}"
            class="aspect-square w-full bg-gray-200 dark:bg-gray-700 object-cover object-center group-hover:opacity-75 lg:aspect-auto lg:h-80" />
          {% endif %}

          <div class="mt-1 flex justify-between">
            <div>
              <p class="mt-1 md:text-xs lg:text-sm text-gray-500 dark:text-gray-400 hidden md:block">
                {% for category in product.categories.all %}
                {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}No category{% endfor %}
              </p>
              <h3 class="text-sm text-gray-900 dark:text-gray-100 truncate w-40 md:w-56 lg:w-64">
                {{ product.name }}
              </h3>
            </div>
          </div>

          <div class="flex items-center space-x-2">
            {% if product.sale_price %}
            <p class="text-black dark:text-white font-bold text-sm lg:text-base">
              ৳{{ product.sale_price|floatformat:"0" }}
            </p>
            <p class="line-through text-gray-400 dark:text-gray-300 text-xs lg:text-sm">
              ৳{{ product.regular_price|floatformat:"0" }}
            </p>
            {% else %}
            <p class="text-black dark:text-white font-bold text-sm lg:text-base">
              ৳{{ product.regular_price|floatformat:"0" }}
            </p>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>


<!-- home components -->
<section class="home-components-section py-5 px-5">
    <div class=" mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            {% for component in home_components %}
            <a href="{% url 'website:category_detail' full_slug=component.category.get_full_slug %}" class="relative group block rounded-lg overflow-hidden shadow-lg">
                <div class="h-56 md:h-60 xl:h-96 bg-cover bg-center-top" style="background-image: url('{{ component.image.url }}');">
                    <div class="absolute inset-0 bg-black/50 flex items-center justify-center transition-all duration-300 group-hover:bg-black/70">
                        <div class="text-center px-2">
                            <h5 class="text-white text-sm md:text-base font-semibold uppercase">{{ component.title }}</h5>
                            <p class="text-white text-xs md:text-sm uppercase mt-1">{{ component.category.name }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<!-- Desktop Testimonial Slider -->
<!-- <div class="hidden md:block">
  <section class="bg-white py-10">
    <div class="container mx-auto px-4">
      <h1 class="text-2xl font-semibold text-center mb-8">
        Trusted and Loved by Our Valued Customers
      </h1>

      <div class="swiper testimonialDesktopSwiper mx-auto">
        <div class="swiper-wrapper">
          {% for t in testimonials_desktop %}
          <div class="swiper-slide">
            <img src="{{ t.image.url }}" alt="Testimonial {{ forloop.counter }}"
              class="rounded-xl shadow-md w-full h-64 object-cover hover:scale-110 transition-all ease-in duration-1000" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div> -->
<!-- Mobile Testimonial Slider -->
<!-- <div class="block md:hidden">
  <section class="bg-white py-10">
    <div class="container mx-auto px-4">
      <h1 class="text-xl font-semibold text-center mb-6">
        Trusted and Loved by Our Valued Customers
      </h1>

      <div class="swiper testimonialMobileSwiper max-w-sm mx-auto">
        <div class="swiper-wrapper">
          {% for t in testimonials_mobile %}
          <div class="swiper-slide">
            <img src="{{ t.image.url }}" alt="Testimonial {{ forloop.counter }}"
              class="rounded-xl shadow-md w-full  object-cover" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div> -->



<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productGrid = document.getElementById('product-grid');
    const skeletonTemplate = document.getElementById('skeleton-template');
    
    // Check if Django has rendered products. If not, show skeletons.
    // This is a simple check to see if the first product div exists.
    if (!productGrid.querySelector('a')) {
      // Create and show skeleton loaders
      for (let i = 0; i < 8; i++) { // You can adjust the number of skeletons
        productGrid.appendChild(skeletonTemplate.content.cloneNode(true));
      }
      
      // Remove skeletons once the page content is fully loaded
      // This is a simple but effective way to handle it.
      window.addEventListener('load', () => {
        // Clear the skeletons after a small delay
        setTimeout(() => {
            const skeletons = productGrid.querySelectorAll('.animate-pulse');
            skeletons.forEach(skeleton => skeleton.remove());
        }, 500);
      });
    }
  });
</script>
{% endblock %}